<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISearcher">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12333/SearchService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISearcher" contract="ServiceReference1.ISearcher"
                name="NetTcpBinding_ISearcher" />
        </client>
    </system.serviceModel>
</configuration>